<!DOCTYPE HTML>
<html> 
  <head>
    <title>
      {% if artist %}
      {{artist}}
      {% endif %}
    </title>
  </head>

  <body bgcolor="gold">
    <h1 align="center">
      {{artist}}
    </h1>

    <form method = "POST">
      Search for an artist/band: 
      <input type = "text" name = "artist" placeholder="Radiohead"></input>
      <input type="submit" name="button" value="find"></input>
    </form>
    <br>
    <table align="center">

    {% if images %}
      {% for image in images %} 
        <tr>
          <td>
            <img src={{image}} alt="Image of Artist">
          </td>
        </tr>
      {% endfor %}
    {% endif %}

    </table>


    <table align="center">

    <tr>
      <td>
        Important Tracks:
      </td>
    </tr>
    {% if Tracks %}
      {% for track in Tracks %} 
        <tr>
          <td>
            track
          </td>
        </tr>
      {% endfor %}
    {% endif %}

    </table>

    
    {% if Tracks %}
      Important Tracks:
      <ul style="list-style-type:square">
      {% for track in Tracks %} 
        <li>
          track
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if Tracks %}
      Important Tracks:
      <ol type="1">
      {% for track in Tracks %} 
        <li>
          track
        </li>
      {% endfor %}
      </ol>
    {% endif %}


  </body>

</html>
