<!DOCTYPE HTML>
<html> 
  <head>
    <title>
      {% if artist %}
      {{artist}}
      {% endif %}
    </title>
  </head>

  <body bgcolor="gold">

    <form method = "POST">
      Search for an artist/band: 
      <input type = "text" name = "artist" placeholder="Radiohead"></input>
      <input type="submit" name="button" value="find"></input>
    </form>
  </body>

    <table align="center">

    {% if images %}
      {% for image in images %} 
        <tr>
          <td>
            <img src={{image}} alt="Image of Artist" style="width:200px;height:200px">
          </td>
        </tr>
      {% endfor %}
    {% endif %}

    </table>

</html>
